@import "../app.scss";

.navbar{
    height: 100px;
    overflow: visible;
    z-index: 4;
    position: sticky;

    @include mobile{
        justify-content: flex-end;
        padding: 20px;
    }

    .wrapper{
        max-width: 1366px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100px;
        font-size: 30px;
        position: sticky;
    }
    .social{
        position: sticky;
        cursor: pointer;
    }
    .mail{
        img{
            scale: 130%;
        }
    }
}